<h1>Rename till your heart's content</h1>

<%= form_tag do %>
  <% Session.all.each do |session| %>
    <div>
      Name: <%= text_field_tag "sessions[#{session.id}][name]", session.name %>
      Max Volunteers: <%= text_field_tag "sessions[#{session.id}][limit]", session.limit %>
    </div>
  <% end %>
  
  <%= submit_tag %><%= link_to "Cancel", admin_sessions_path %>
<% end %>